{% extends 'StvnBlogBundle::layout.html.twig' %}

{% block blog %}
    <div>
        <h4>You have succeeded modifying the article, <a href={{ path('stvn_blog_homepage') }}>back to blog index</a></h4>
    </div>
{% endblock %}