{% extends 'StvnUserBundle::layout.html.twig' %}

{% block user %}
    <div>
        <h4>You have succeeded the registration, <a href={{ path('stvn_user_homepage') }}>login now</a></h4>
    </div>
{% endblock %}